# TEMP
MQTT.md
images/MQTT

# OS
.DS_Store

# Secrets
.env
.gemini

# Dependencies
node_modules
.venv
__pycache__

# Build artifacts
dist/
.*_hash

# Assistant files
GEMINI.md
.gemini/

# Project specific
.envrc
control/data/
dataset/data/
dataset/raw/
cnn/models